/* Basic Element Styles */

html{
  box-sizing: border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  position: relative;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family:'Open Sans', sans-serif;
  margin:40px auto;
}

h1{
  font-size: 9em;
  line-height: 1;
  margin: 10px auto 20px auto;
}
h2{
  font-size: 5em;
  margin: 5px auto 10px auto;
}
h3{
  font-size: 2em;
  margin: 5px auto 10px auto;
}
p{
  margin: 0 auto 10px auto;
}
a{
  color: #ff3b00;
  display: inline;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

img{
  margin:10px 0px;
  max-width:100%;
}


#content {
  margin: 0 auto;
  max-width: 960px;
}

#content p {
  padding: 0 20px;
}

#next-steps {
  display: none;
  margin-top: 40px;
}